* {
  margin: 0;
  padding: auto;
  border: 1px solid black;
}
body {
  position: absolute;
  height: 100%;
  width: 100%;
}
#app {
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#scramblebox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 80%;
}

.leftbox {
  position: relative;
  height: 200px;
  width: 200px;
  margin-right: 12%;
  bottom: 10%;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
.rightbox {
  position: relative;
  height: 200px;
  width: 200px;
  margin-left: 12%;
  bottom: 10%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
